/* @import 'mdb.min.css';
@import 'mdb.min.css.map';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"); */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #363636;
    --primary: #004fbe;
    --secondary: #6c757d;
    --success: #05bf1e;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #be0304;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@keyframes fire {
    from {
        text-shadow: 1px 1px 5px red, 0 0 0rem orange, 0 0 0rem orange !important;
        opacity: 0;
    }
    to {
        text-shadow: 1px 1px 5px red, 0 0 3rem orange, 0 0 3rem orange !important;
        opacity: 1;
    }
}

#toggle-theme {
    /* font-size: 1em; */
    color: #ccc!important;
}

.dark-mode {
    background: var(--gray-dark)
    /* color: var(--light); */
}

.light-mode {
    background: var(--light);
    color: var(--gray-dark);
}

.titles-color {
    color: var(--gray-dark);
}

.rotate30 {
    transform: rotate(45deg);
}

.rotate45 {
    transform: rotate(45deg);
}

.rotate60 {
    transform: rotate(45deg);
}


/* sections */

.line-sec-collapse {
    position: absolute;
    height: 2px;
    top: 1.2rem;
    z-index: -1;
}

.line-sec-right {
    right: 4rem;
}

.line-sec-left {
    left: 4rem;
}

.line-sec-pragraph {
    position: absolute;
    width: 2px;
    height: 3rem;
    top: -4rem;
    z-index: -1;
    transform: rotate(360deg);
}

[data-toggle="collapse"].collapsed .if-not-collapsed,
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}


/* colors panel */

.colors-panel {
    position: fixed;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 4rem;
    left: -3rem;
    z-index: 1001;
    padding: .5rem;
    border-bottom-right-radius: 1rem;
    transition: all 1s ease;
}

.btn-toggle {
    position: absolute;
    top: 0px;
    right: 2px;
    transform: translateX(100%);
    background-color: var(--dark)!important;
    border-radius: none!important;
    color: var(--light)!important;
    opacity: .5;
}

.btn-toggle:hover {
    opacity: 1;
}

.btn-toggle:focus {
    box-shadow: none!important;
}


/* nav styles */


/* hero style */

.hero {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    font-weight: 900;
}

.hero-img {
    width: 100%;
    max-height: 30%;
    object-fit: cover;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: filter-animation-warning!important;
}


/* animation blue */

@keyframes filter-animation-primary {
    0% {
        filter: brightness(75%) contrast(2);
    }
    50% {
        filter: brightness(50%) contrast(5);
    }
    100% {
        filter: brightness(75%) contrast(2);
    }
}


/* animation yellow */

@keyframes filter-animation-warning {
    0% {
        filter: sepia(.7) saturate(5);
    }
    50% {
        filter: sepia(1) saturate(8);
    }
    100% {
        filter: sepia(.7) saturate(5);
    }
}


/* animation green */

@keyframes filter-animation-success {
    0% {
        filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(50deg) saturate(300%) contrast(0.8);
    }
    50% {
        filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(50deg) saturate(800%) contrast(0.8);
    }
    100% {
        filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(50deg) saturate(300%) contrast(0.8);
    }
}


/* animation red */

@keyframes filter-animation-danger {
    0% {
        filter: grayscale(100%) brightness(50%) sepia(150%) hue-rotate(-50deg) saturate(200%) contrast(0.8);
    }
    50% {
        filter: grayscale(100%) brightness(50%) sepia(150%) hue-rotate(-50deg) saturate(900%) contrast(0.8);
    }
    100% {
        filter: grayscale(100%) brightness(50%) sepia(150%) hue-rotate(-50deg) saturate(200%) contrast(0.8);
    }
}


/* bubbles and animation */

.dot {
    border-radius: 50%;
    border: .045rem solid #ccc;
    box-shadow: inset .2rem .0rem .3rem 0 #ccc;
    opacity: 0;
    background: var(--dark);
}

.dot-xs {
    width: 1.8rem;
    height: 1.8rem;
    animation: randomfollowxs 18s linear infinite normal forwards;
    animation-delay: 3s;
}

@keyframes randomfollowxs {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-50px, -100px);
        opacity: 0.2;
    }
    40% {
        transform: translate(-30px, -200px);
        opacity: 0.4;
    }
    60% {
        transform: translate(20px, -300px);
        opacity: 0.6;
    }
    80% {
        transform: translate(-30px, -405px);
        opacity: .8;
    }
    100% {
        transform: translate(-50px, -600px);
        opacity: 0;
    }
}

.dot-s {
    width: .8rem;
    height: .8rem;
    animation: randomfollows 20s linear infinite normal forwards;
    animation-delay: 9s;
}

@keyframes randomfollows {
    0% {
        transform: translate3d(0, 0);
    }
    20% {
        transform: translate(-20px, -150px);
        opacity: .2;
    }
    40% {
        transform: translate(30px, -250px);
        opacity: .5;
    }
    60% {
        transform: translate(-50, -350px);
    }
    80% {
        transform: translate(30px, -450px);
        opacity: .8;
    }
    100% {
        transform: translate(-20px, -550px);
        /* opacity: 0; */
    }
}

.dot-m {
    width: 1rem;
    ;
    height: 1rem;
    ;
    animation: randomfollowm 22s linear infinite normal backwards;
    animation-delay: 7s;
}

@keyframes randomfollowm {
    0% {
        transform: translate3d(0, 0);
    }
    20% {
        transform: translate(30px, -75px);
        opacity: .2;
    }
    40% {
        transform: translate(-40px, -175px);
        opacity: .4;
    }
    60% {
        transform: translate(-30px, -275px);
    }
    80% {
        transform: translate(-40px, -375px);
        opacity: .7;
    }
    100% {
        transform: translate(40px, -500px);
    }
}

.dot-l {
    width: 1.2rem;
    height: 1.2rem;
    animation: randomfollowl 24s linear infinite normal backwards;
    animation-delay: 6s;
}

@keyframes randomfollowl {
    0% {
        transform: translate3d(0, 0);
    }
    20% {
        transform: translate(50px, -100px);
        opacity: .2;
    }
    40% {
        transform: translate(-20px, -200px);
        opacity: .5;
    }
    60% {
        transform: translate(30px, -300px);
    }
    80% {
        transform: translate(-45px, -400px);
        opacity: .8;
    }
    100% {
        transform: translate(55px, -600px);
        /* opacity: 0; */
    }
}

.dot-xl {
    width: 1.4rem;
    height: 1.4rem;
    animation: randomfollowxl 26s linear infinite normal forwards;
    animation-delay: 4s;
}

@keyframes randomfollowxl {
    0% {
        transform: translate3d(0, 0);
    }
    20% {
        transform: translate(60px, -50px);
        opacity: .2;
    }
    40% {
        transform: translate(-20px, -200px);
    }
    60% {
        transform: translate(30px, -300px);
        opacity: .5;
    }
    80% {
        transform: translate(-40px, -400px);
    }
    100% {
        transform: translate(50px, -700px);
        opacity: .8;
    }
}

.dot-xxl {
    width: 1.6rem;
    height: 1.6rem;
    animation: randomfollowxxl 28s linear infinite normal forwards;
    animation-delay: 5s;
}

@keyframes randomfollowxxl {
    0% {
        transform: translate3d(0, 0);
    }
    20% {
        transform: translate(-15px, -130px);
    }
    40% {
        transform: translate(25px, -200px);
    }
    60% {
        transform: translate(-30px, -300px);
    }
    80% {
        transform: translate(45px, -400px);
    }
    100% {
        transform: translate(50px, -600px);
    }
}


/* ----------------------------------------------------------- */


/* certificat section */

.certificat {
    width: 100%;
    height: 35rem;
}


/* themes */

.bg-warning,
.btn-warning {
    filter: sepia(1) saturate(8)!important;
}

.bg-primary,
.btn-primary {
    filter: brightness(75%) contrast(1)!important;
    border-color: var(--primary)!important;
}

.bg-success,
.btn-success {
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(50deg) saturate(800%) contrast(0.8)!important;
}

.bg-danger,
.btn-danger {
    filter: grayscale(100%) brightness(50%) sepia(150%) hue-rotate(-50deg) saturate(900%) contrast(0.8)!important;
}


/* ---------------------------------------------------------- */


/* footer */

.foo-li-item {
    list-style: none;
}

.tainer {
    /* position: absolute; */
    /* background-color: #004fbe; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    /* background-image: url('/public/assests/1390x597BWcover_DxO.jpg'); */
}

.img-bar {
    background-image: url('/public/assests/1390x597BWcover_DxO.jpg');
}

.bars {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 28rem;
    
}

.bars div {
    /* position: absolute; */
    width: 20px;
    height: 8rem;
    border: 1px solid black;
    background-color: #F6F4F2;
}